depends:[
  "dune" {>= "3.13"}
  "odoc" {with-doc}
  coq-core
  rocq-runtime
  rocq-core
]
pin-depends: [
  ["rocq-runtime.dev" "git+https://github.com/TDiazT/coq.git#sort-elaboration"]
  ["rocq-core.dev" "git+https://github.com/TDiazT/coq.git#sort-elaboration"]
  ["coq-core.dev" "git+https://github.com/TDiazT/coq.git#sort-elaboration"]
]